# Tool metadata
.tool_appdata/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Runner/GeneratedPluginRegistrant.*
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Release signing
android/key.properties
*.jks
*.keystore
